@mixin animation-mixin($name, $x0, $x25, $x50, $x75, $x100){
  @keyframes #{$name} {
    0% { transform: translateX($x0) }
    25% { transform: translateX( $x25) }
    50% { transform: translateX($x50) }
    75% { transform: translateX($x75) }
    100% { transform: translateX($x100) }
}
}
@include animation-mixin(shakingAnimation, 0, 5px, -5px,5px ,0 );
@include animation-mixin(cloudAnimation, 0, 200px, 400px, 600px, 800px);
@include animation-mixin(cloudAnimation2, 100px, 200px, 300px, 400px, 500px);
@include animation-mixin(cloudAnimation3, 450px, 350px, 250px, 150px, 50px);

@keyframes dropAnimation {
    0% {transform:rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {top: 85%;transform: rotate(360deg);}
}