@keyframes shakingAnimation {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}
@keyframes dropAnimation {
    0% {transform:scaleY(0.9) rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
    to{
      top: 85%;

    }
}

@keyframes cloudAnimation {
  0% { transform: translateX(0) }
  25% { transform: translateX(200px) }
  50% { transform: translateX(400px) }
  75% { transform: translateX(600px) }
  100% { transform: translateX(800px) }
}
@keyframes cloudAnimation2 {
  0% { transform: translateX(100px) }
  25% { transform: translateX(200px) }
  50% { transform: translateX(300px) }
  75% { transform: translateX(400px) }
  100% { transform: translateX(500px) }
}
@keyframes cloudAnimation3 {
  0% { transform: translateX(450px) }
  25% { transform: translateX(350px) }
  50% { transform: translateX(250px) }
  75% { transform: translateX(150px) }
  100% { transform: translateX(50px) }
}