@import 'animations';
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@mixin nthChidApple($n, $delay){
  &:nth-child(#{$n}) {
    animation-delay: $delay;
  }
}
@mixin cloudCss($animationName, $time){
  animation: $animationName $time linear infinite alternate;
};

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
    width: 100vw;
    .apple{
      width: 65px;
      height: 65px;
      position: absolute; 
      z-index: 999;
      @include nthChidApple(1, 3s);
      @include nthChidApple(2, 4.3s);
      @include nthChidApple(3, 5.6s);
      @include nthChidApple(4, 6.9s);
      @include nthChidApple(5, 8.2s);
    }
  .tree {
    position: relative;
    align-self: flex-end;
    width: 1200px;
    height: 100%;
    svg {
      width: 95%;
      height: 95%;
     }
  }
  .shakeBtn{
    width: auto;
    height: auto;
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    background-color: #FFBF00;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      transform: scale(1.1);
    }
    &:active{
      opacity: 0.7;
    }
  }
}
.basket{
  width: 400px;
  height: 150px;
  position: absolute;
  left: 30%;
  bottom: 0;
}
.shaking{
  @include cloudCss(shakingAnimation, .25s);
    animation-iteration-count: 12;
}

.dropping{
    transition: all 0.3s;
    animation: dropAnimation 1.3s linear forwards;
}
.cloud{
  @include cloudCss(cloudAnimation, 20s);
}
.cloud2{
  @include cloudCss(cloudAnimation2, 20s);
}
.cloud3{
  @include cloudCss(cloudAnimation3, 20s);
}